body {
    font-family: Arial, sans-serif;
    background-color: #232323;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    margin-bottom: 20px;
    color:aqua;
}

form {
  background: linear-gradient(to right, #b75fff5f, #fe7b9a57);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: left;
    position: relative;
}

form::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: inherit;
  filter: blur(10px);
  z-index: -1;
}


input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    background-color: transparent;
    outline: none;
    border-radius: 20px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #180222;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: large;
    margin-top: 10px;
    font-variant: small-caps;
    font-weight: bold;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}



/* Optional: Style for the container around the form */
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.gradient-text {
  font-size: 2em;
  font-weight: bold;
  font-variant: small-caps;
  background: linear-gradient(to right, #001aff, #ac09fd,rgb(255, 9, 210));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0px 2px 5px rgba(255, 233, 133, 0.3);
  background-clip: text;
  text-fill-color: transparent;
}

.gradient1 {
  background: linear-gradient(to right, #ff00f7, #fd0909,rgb(214, 9, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0px 2px 5px rgba(255, 233, 133, 0.3);
  background-clip: text;
  text-fill-color: transparent;

}



